/* gh repo create my-repo-name --public --source=. --remote=origin --push */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  height: 100px;
  width: 300px;
} */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 20px;
}

/* article {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
} */

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: auto;
  padding: 20px;
  color: white;
  border-radius: 8px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 0px;
}

.SEDAN {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

#sedanInfo {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

.SUVS {
  background-color: hsl(184, 100%, 22%);
  color: white;
}

suvInfo {
  background-color: hsl(184, 100%, 22%);
}

.LUXURY {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
