/* gh repo create my-repo-name --public --source=. --remote=origin --push */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.SEDAN {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

#sedanInfo {
  background-color: hsl(31, 77%, 52%);
  color: white;
}

.SUVS {
  background-color: hsl(184, 100%, 22%);
  color: white;
}

suvInfo {
  background-color: hsl(184, 100%, 22%);
}

.LUXURY {
  background-color: hsl(179, 100%, 13%);
  color: white;
}
