/* gh repo create my-repo-name --public --source=. --remote=origin --push */

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 72, 72);
}

/* body,
h1,
h2,
h3,
p,
ul,
li,
main,
section,
article,
header,
footer {
  margin: 0;
  padding: 0;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100svw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  /* overflow: hidden; */
}

article {
  max-width: 1000px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: auto;
  height: auto;
  padding: 20px;
  color: white;
  /* these need to be set on the individual elements
  as of now when it's on all, it's not working
  properly like in the example desktop-design.jpg
  Sedan has top and bottom left, Luxury opposite, SUVS has none.
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  */
  /* border-radius: 5px; */
}

button {
  font-size: 15px;
  font-family: Lexend, sans-serif;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 20px;
}

#luxuryButton {
  color: hsl(179, 100%, 13%);
}

#sedanButton {
  color: hsl(31, 77%, 52%);
}

#suvButton {
  color: hsl(184, 100%, 22%);
}

.SEDAN,
.SUVS,
.LUXURY {
  font-family: "Big Shoulders";
  font-weight: 700;
  font-size: 30px;
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  align-self: flex-start;
  text-align: left;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

#sedanButton,
#suvButton,
#luxuryButton,
#sedanInfo,
#suvInfo,
#luxuryInfo {
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: 400;
}

.SEDAN {
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
}

#sedanInfo {
  background-color: hsl(31, 77%, 52%);
}

.SUVS {
  background-color: hsl(184, 100%, 22%);
  border-radius: 0px;
}

#suvInfo {
  background-color: hsl(184, 100%, 22%);
}

.LUXURY {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 5px 5px 0px;
}

#sedanInfo,
#suvInfo,
#luxuryInfo,
p {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 20px;
  display: flex;
  align-self: flex-start;
  text-align: left;
  padding-bottom: 25px;
}

button {
  align-self: flex-start;
  margin-left: 20px;
  text-align: left;
  padding: 12px 20px;
}

img {
  padding: 15px;
}

img {
  display: flex;
  align-self: flex-start;
}
